Repository UPB-FILS-MDAD/upb-fils-mdad.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: lecture, lab, project, workflow, website

.github/labeler.yml:

lecture:
  - docs/lecture/**/*

lab:
  - docs/lab/**/*

project:
  - docs/project/**/*

workflow:
  - .github/**/*

website:
  - src/**/*
  - static/**/*
  - "*.js"
  - "*.json"
  - "*.ts"

add first course and site base
  docs/intro/amalia_simion.jpg
  docs/intro/images/alexandru_radovici.jpg
  docs/intro/images/irina_bradu.jpg
  docs/intro/images/mihai_costin.jpg
  docs/intro/index.md
  docs/lab/00/_index.md
  docs/lab/01.md
  docs/lecture/01.md
  docs/project/_index.md
  docusaurus.config.ts
  src/components/HomepageFeatures/index.tsx
  src/pages/index.tsx
  static/cours/alf_1.pdf
  static/cours/alf_10.pdf
  static/cours/alf_2.pdf
  static/cours/alf_3.pdf
  static/cours/alf_4.pdf
  static/cours/alf_5.pdf
  static/cours/alf_6.pdf
  static/cours/alf_7.pdf
  static/cours/alf_8.pdf
  static/cours/alf_9.pdf
  static/cours/mdad_1.pdf
  static/cours/mdad_1.pptx
  static/img/alf-social-card.png
  static/img/android-logo.jpg
  static/img/android-logo.svg
Labels: lecture, lab, project, website

add first lab
  docs/intro/index.md
  docs/lab/00/_index.md
  docs/lab/00/images/00_new_kotlin_project.png
  docs/lab/00/index.md
  docusaurus.config.ts
Labels: lab, website

fix github link
  docusaurus.config.ts
Labels: website

fix typo
  docs/lab/00/index.md
Labels: lab

add second lecture
  docs/lab/00/index.md
  docs/lecture/02.md
  docusaurus.config.ts
  static/cours/mdad_2.pdf
Labels: lecture, lab, website

add extra links
  docs/lecture/02.md
Labels: lecture

fix edit link
  docusaurus.config.ts
Labels: website

add_second_lab
  docs/intro/amalia_simion.jpg
  docs/lab/01/images/_bmi_layout.png
  docs/lab/01/images/_linear_layout.png
  docs/lab/01/images/bmi_layout.png
  docs/lab/01/images/linear_layout.png
  docs/lab/01/images/linear_vs_relative.png
  docs/lab/01/images/logs.png
  docs/lab/01/index.md
Labels: lab

remove pics
  docs/lab/01/images/_bmi_layout.png
  docs/lab/01/images/_linear_layout.png
  docs/lab/01/images/linear_layout.png
Labels: lab

add view and project structure
  docs/lab/01/images/project_structure1.png
  docs/lab/01/images/project_structure2.png
  docs/lab/01/index.md
Labels: lab

inital changes
  docs/lab/02/images/activities.png
  docs/lab/02/images/implicit_intent.png
  docs/lab/02/index.md
Labels: lab

Update docs/lab/02/index.md
  docs/lab/02/index.md
Labels: lab

address comments
  docs/lab/02/images/activities.png
  docs/lab/02/index.md
Labels: lab

add courses 3 and 4
  docs/lecture/03.md
  docs/lecture/04.md
  static/cours/mdad_1.pptx
  static/cours/mdad_3.pdf
  static/cours/mdad_4.pdf
Labels: lecture, website

added lab03
  docs/lab/03/images/service_lifecycle.png
  docs/lab/03/images/uibuttons.png
  docs/lab/03/index.md
Labels: lab

fixed typo
  docs/lab/03/index.md
Labels: lab

added lab04
  docs/lab/04/index.md
Labels: lab

fix links
  docs/lab/04/index.md
Labels: lab

fix links 2
  docs/lab/04/index.md
Labels: lab

typos
  docs/lab/04/index.md
Labels: lab

added more info for preferences
  docs/lab/04/index.md
Labels: lab

add space
  docs/lab/04/index.md
Labels: lab

added lab05
  docs/lab/05/index.md
Labels: lab

modif lab05
  docs/lab/05/index.md
Labels: lab

add courses 5 and 6
  docs/lecture/05.md
  docs/lecture/06.md
  static/cours/mdad_5.pdf
  static/cours/mdad_6.pdf
Labels: lecture, website
